* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;

  background: linear-gradient(
    -45deg,
    rgb(10, 252, 119),
    #bbb,
    #ddd,
    rgb(24, 233, 248)
  );
  background-size: 500% 500%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.left-container {
  position: relative;
  width: 50%;
  min-height: 100vh;
  /* min-width: 320px; */
  background-color: blue;
}

.right-container {
  position: relative;
  width: 50%;
  min-height: 100vh;
  /* min-width: 320px; */
  font-family: monospace;
  /* background-color: red; */
}

.phone-wrapper {
  position: relative;
  width: 53vh;
  min-height: 90vh;
  margin: auto;
  background-color: #fff;
  border-radius: 40px;
  margin-top: 5vh;
  margin-bottom: 5vh;

  box-shadow: 0 0 40px #333;
}
.phone-upper {
  background-color: #fff;
  height: 9vh;
  width: 100%;
  border-radius: 40px 40px 0 0;
}
.phone-middle {
  height: 72vh;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.phone-lower {
  position: absolute;
  background-color: #fff;
  height: 9vh;
  width: 100%;
  bottom: 0px;
  border-radius: 0px 0px 40px 40px;
}

.phone-upper-slot {
  background-color: #777;
  height: 1.1vh;
  width: 50px;
  margin-top: 4.5vh;
  display: inline-block;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.phone-lower-slot {
  background-color: transparent;
  height: 8vh;
  width: 8vh;
  display: inline-block;
  position: absolute;
  top: 0.5vh;
  border: 4px solid #777;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  animation: glowing 1300ms infinite;
}
@keyframes glowing {
  0% {
    background-color: #eee;
    box-shadow: 0 0 5px #333;
  }
  50% {
    background-color: #ccc;
    box-shadow: 0 0 30px #999;
  }
  100% {
    background-color: #eee;
    box-shadow: 0 0 5px #333;
  }
}

.phone-volume-container {
  position: absolute;
  right: -4px;
  display: flex;
  flex-direction: column;
  top: 13vh;
}

.phone-volume-keys {
  background-color: #fff;
  height: 10vh;
  width: 4px;
  margin-bottom: 10px;
  border-radius: 0 4px 4px 0;
}

.home-screen {
  background-image: url(images/phone_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  border-radius: 7px;
  display: none;
  position: relative;
}

.lock-screen {
  background-image: url(images/wp2760959-gif-animation-wallpaper.gif);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  border-radius: 7px;
  position: relative;
}

.phone-status-bar {
  opacity: 0.78;
  height: 3.5vh;
  width: 100%;
  border-radius: 7px 7px 0px 0px;
  top: 0px;
  position: absolute;
  z-index: 1;
}
#statusbar-time {
  height: 3.5vh;
  text-align: center;
  width: 60px;
  background-color: transparent;
  position: absolute;
  color: #333;
  border: none;
  font-weight: 600;
  z-index: 2;
}

.icon-grid-container {
  top: 5vh;
  display: grid;
  grid-template-columns: auto auto;
  /* background-color: yellow; */
  padding: 0px 10px;
  width: 100%;
  position: absolute;
  overflow: auto;
  height: inherit;
}


.icon-grid-container::-webkit-scrollbar {
  width: 8px;
  
  
}

.icon-grid-container::-webkit-scrollbar-track {
  display: none; 
}

.icon-grid-container::-webkit-scrollbar-thumb {
  background: rgba(109, 108, 108, 0.938);
  border-radius: 3px;
  background-clip:padding-box;
  border-right: 5px solid transparent;

}

.icon-grid-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.icon-grid-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.grid-item {
  /* background-color: turquoise;
  border: 1px solid black; */
  text-align: center;
  padding: 20px 0;
}
.grid-item img {
  height: 10vh;
  cursor: pointer;
}
.icon-name {
  color: #fff;
}

.lock-screen-time {
  width: 100%;
  text-align: center;
  position: relative;
  top: 10vh;
  color: #eee;
  font-size: 6vh;
  padding: 10px;
}
.lockscreen-portfolio {
  color: white;
  position: relative;
  top: 10vh;
  text-align: center;
  font-size: 10vh;
  font-style: italic;
  font-family: fantasy;
}
.callout-div {
  background-color: transparent;
  position: absolute;
  bottom: -8px;
  left: 52%;
  transform: translateX(-51%);
  z-index: 1;
}
#callout {
  height: 10vh;
}

/* ----------------------------------------------- */

.left-inner-container {
  width: 100%;
  /* margin-top: 5vh; */
  /* margin-bottom: 20px; */
  background-color: yellowgreen;
  text-align: center;
  /* height: 90vh; */
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.profile-pic-container {
  background-color: #999;
  height: 50vh;
  width: 50vh;
  border-radius: 50%;
  margin: auto;
  border: 10px solid #fff;
}

.profile-des-container {
  background-color:cadetblue;
  font: 20px sans-serif;
  height: 100px;
  width: 70%;
  border: 5px solid #fff;
  margin-top: 4vh;
  margin-left: auto;
  margin-right: auto;
}
#download-btn {
  margin: 4vh;
  height: 50px;
  width: 35%;
  min-width: 215px;
  background-color: #0095f6;
  color: #fff;
  font-weight: 600;
  font-size: 1.1em;
  border: 1.5px solid #fff;
  border-radius: 6px;
  outline: 1.5px solid #0095f6;
  cursor: pointer;
  position: relative;
}

#download-btn img {
  height: 1em;
  /* position: abslute; */
}
















@media screen and (max-width: 900px) {
  body {
    flex-direction: column;
  }
  .left-container {
    width: 100%;
  }

  .right-container {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
 body{
  background: linear-gradient(
    -45deg,
    rgb(10, 252, 119),
    #bbb,
    #ddd,
    rgb(24, 233, 248)
  );
  animation: none
 }
 .profile-pic-container{
   height: 50vw;
   width: 50vw;
   border: 2vw solid #fff;

 }
 #download-btn{
  outline: none;

 }
 .phone-wrapper{
   max-width: 90vw;
 }
 .phone-upper-slot{
   width: 10vw;
 }
 .lock-screen-time{
   font-size: 6vw;
 }
 .lockscreen-portfolio{
   font-size: 10vw;
 }
 #callout{
   height: 10vw;
 }
 .grid-item img{
   height: 13vw;
 }
}



@media screen and (max-width: 300px) {
  body{
    background: none;
   background-color: #bbb;
   animation: none
  }
 }