* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  line-height: 140%;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  background: linear-gradient(
    -45deg,
    rgb(10, 252, 119),
    #bbb,
    #ddd,
    rgb(24, 233, 248)
  );
  background-size: 500% 500%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.left-container {
  position: relative;
  width: 50%;
  min-height: 100vh;
  /* min-width: 320px; */
  /* background-color: blue; */
}

.right-container {
  position: relative;
  width: 50%;
  min-height: 100vh;
  /* min-width: 320px; */
  font-family: monospace;
  /* background-color: red; */
}

.phone-wrapper {
  position: relative;
  width: 53vh;
  min-height: 90vh;
  margin: auto;
  background-color: #fff;
  border-radius: 40px;
  margin-top: 5vh;
  margin-bottom: 5vh;

  box-shadow: 0 0 40px #333;
}
.phone-upper {
  background-color: #fff;
  height: 9vh;
  width: 100%;
  border-radius: 40px 40px 0 0;
}
.phone-middle {
  height: 72vh;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.phone-lower {
  position: absolute;
  background-color: #fff;
  height: 9vh;
  width: 100%;
  bottom: 0px;
  border-radius: 0px 0px 40px 40px;
}

.phone-upper-slot {
  background-color: #777;
  height: 1.1vh;
  width: 50px;
  margin-top: 4.5vh;
  display: inline-block;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.phone-lower-slot {
  background-color: transparent;
  height: 8vh;
  width: 8vh;
  display: inline-block;
  position: absolute;
  top: 0.5vh;
  border: 4px solid #777;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  animation: glowing 1300ms infinite;
}
@keyframes glowing {
  0% {
    background-color: #eee;
    box-shadow: 0 0 5px #333;
  }
  50% {
    background-color: #ccc;
    box-shadow: 0 0 30px #999;
  }
  100% {
    background-color: #eee;
    box-shadow: 0 0 5px #333;
  }
}

.phone-volume-container {
  position: absolute;
  right: -4px;
  display: flex;
  flex-direction: column;
  top: 13vh;
}

.phone-volume-keys {
  background-color: #fff;
  height: 10vh;
  width: 4px;
  margin-bottom: 10px;
  border-radius: 0 4px 4px 0;
}

.home-screen {
  background-image: url(images/home-screen.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  border-radius: 7px;
  display: none;
  position: relative;
}

.lock-screen {
  background-image: url(images/lock-screen.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  border-radius: 7px;
  position: relative;
}

.phone-status-bar {
  opacity: 0.78;
  height: 3.5vh;
  width: 100%;
  border-radius: 7px 7px 0px 0px;
  top: 0px;
  position: absolute;
  z-index: 1;
}
#statusbar-time {
  height: 3.5vh;
  text-align: center;
  width: 60px;
  background-color: transparent;
  position: absolute;
  color: #333;
  border: none;
  font-weight: 600;
  z-index: 2;
}

.icon-grid-container {
  top: 3.5vh;
  display: grid;
  grid-template-columns: auto auto;
  background-color: rgba(0, 0, 0, 0.199);
  padding: 10px 10px;
  width: 100%;
  position: absolute;
  overflow: auto;
  height: inherit;
}

.icon-grid-container::-webkit-scrollbar {
  width: 8px;
}

.icon-grid-container::-webkit-scrollbar-track {
  display: none;
}

.icon-grid-container::-webkit-scrollbar-thumb {
  background: rgba(109, 108, 108, 0.938);
  border-radius: 3px;
  background-clip: padding-box;
  border-right: 5px solid transparent;
}

.icon-grid-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.icon-grid-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.grid-item {
  /* background-color: turquoise;
  border: 1px solid black; */
  text-align: center;
  padding: 20px 0;
}
.grid-item img {
  height: 10vh;
  cursor: pointer;
}
.grid-item img:hover{
transform: scale(1.15);
}
.icon-name {
  color: #fff;
}

.lock-screen-time {
  width: 100%;
  text-align: center;
  position: relative;
  top: 10vh;
  color: white;
  font-size: 6vh;
  padding: 10px;
  /* background-color: rgba(237, 247, 248, 0.658); */
}
.lockscreen-portfolio {
  color: white;
  position: relative;
  top: 10vh;
  text-align: center;
  font-size: 10vh;
  font-style: italic;
  font-family: fantasy;
  text-shadow: 0px 7px rgba(0, 0, 0);
  /* background-color: rgba(237, 247, 248, 0.658); */
}
.callout-div {
  background-color: transparent;
  position: absolute;
  bottom: -8px;
  left: 52%;
  transform: translateX(-51%);
  z-index: 1;
}
#callout {
  height: 10vh;
}

/* ----------------------------------------------- */

.left-inner-container {
  width: 100%;
  /* margin-top: 5vh; */
  /* margin-bottom: 20px; */
  /* background-color: yellowgreen; */
  text-align: center;
  /* height: 90vh; */
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.profile-pic-container {
  background-color: #999;
  height: 48vh;
  border-radius: 50%;
  margin: auto;
  border: 10px solid #fff;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.103);;
}
#name{
  text-align: center;
  color: #493945;
text-shadow: 4px 6px rgba(0, 0, 0, 0.103);
margin-top: 8px;
/* background-color: blueviolet; */

}
.profile-des-container {
  /* background-color: #eee; */
  /* font: 20px sans-serif; */
  height: 100px;
  width: 70%;
  /* border: 5px solid #ccc; */
  margin-top: 4vh;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  color: #363636;
}
#download-btn {
  margin: 4vh;
  height: 50px;
  width: 35%;
  min-width: 215px;
  background-color: #0095f6;
  color: #fff;
  font-weight: 600;
  font-size: 1.1em;
  border: 1.5px solid #fff;
  border-radius: 6px;
  outline: 1.5px solid #0095f6;
  cursor: pointer;
  position: relative;
}
#download-btn:hover{
  color: #0095f6;
  background-color: #fff;
  border: 1.5px solid #0095f6;
  transform: scale(1.05);


}
#download-btn img {
  height: 1em;
  /* position: abslute; */
}

footer {
  padding: 20px 10px 10px 10px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  flex: 0 0 100%;
  color: #9CC;
  text-align: center;
  margin-top: 20px;
}

.social-img {
  height: 25px;
  cursor: pointer;
  margin: 3px;
}

.social-img:hover{
  transform: scale(1.09);
}

.info-container {
  display: none;
  position: absolute;
  height: 90vh;
  width: 90%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: rgba(20, 20, 20, 0.89);
  color: black;
  border-radius: 20px;
}
.btn {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  width: 25%;
  height: 8vh;
  opacity: 0.8;
  font-size: 1.3rem;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 20px;
}
.btn:hover{
  opacity: 1;
}

.info-inner{
  top: 5vh;
  position: absolute;
  width: 90%;
  height: 70vh;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  overflow: auto;
  padding: 20px;
}

.info-shutter::-webkit-scrollbar {
  display: none;
}
.info-shutter{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#about-container{
  display: none;
}
#education-container{
  display: none;
}
#skills-container{
  display: none;
}
#experiences-container{
  display: none;
}
#Courses-container{
  display: none;
}
#contact-container{
  display: none;
}

#skills-container progress{
  left: 200px;
  position: absolute;
}






















/* -------------------responsiveness-------------------- */
@media screen and (max-width: 900px) {
  body {
    flex-direction: column;
  }
  .left-container {
    width: 100%;
  }

  .right-container {
    width: 100%;
  }
  footer {
    flex: none;
  }
  .info-container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    -ms-transform: none;
  transform: none;
  border-radius: 0px;
}
}

@media screen and (max-width: 450px) {
  body {
    background: linear-gradient(
      -45deg,
      rgb(10, 252, 119),
      #bbb,
      #ddd,
      rgb(24, 233, 248)
    );
    animation: none;
  }
  .profile-pic-container {
    /* height: 50vw; */
    border: 2vw solid #fff;
  }
  .profile-des-container {
    height: 25vh;
  }

  #download-btn {
    outline: none;
  }
  .phone-wrapper {
    max-width: 90vw;
  }
  .phone-upper-slot {
    width: 10vw;
  }
  .lock-screen-time {
    font-size: 6vw;
  }
  .lockscreen-portfolio {
    font-size: 10vw;
  }
  #callout {
    height: 10vw;
  }
  .grid-item img {
    height: 13vw;
  }

}

@media screen and (max-width: 300px) {
  body {
    background: none;
    background-color: #bbb;
    animation: none;
  }
}
